hr{
    margin: 0;
}
.rodape{
    background-color: #FFFFFF;
    padding: 1em;
    
}
.lista-rodape{
    display: none;
}

@media screen and (min-width: 1024px) {
    .lista-rodape{
        display: block;
    }
    .rodape{
        display: flex;
        justify-content: space-around;
    }
    .lista-rodape__item{
        display: flex;
        align-items: center;
        padding: .5em
    }
    .lista-rodape__link{
        text-decoration: none;
        color: var(--cinza);
        padding-left: .7em;
    }
    .lista-rodape__titulo{
        color: var(--cinza-titulo);
        font-size: 14px;
    }
    .rodape__titulo{
        font-size: 24px;
        color: var(--preto);
    }
}

@media screen and (min-width: 1728px) {
    .lista-rodape{
        border-left: 1px solid var(--cinza-titulo);
        padding-left: 1em;
    }
    .rodape{
        padding-top: 3em;
    }
    
}